{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["solidity", "javascript", "css", "markup", "bash"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
