#container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.code-style-container {
  color: white;
  background-color: rgb(29, 27, 48);
}
#text-code {
  border: 1px solid rgb(29, 27, 48);
  border-radius: 1rem;
  height: 70vh;
  width: 70vh;
  overflow-y: auto !important;
}

#code-container {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}
