#container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sentence {
  font-family: "Roboto Mono", "monospace";
  color: white;
}
.code-style-container {
  background-color: rgb(29, 27, 48);
  border: 1px solid rgb(29, 27, 48);
  border-radius: 1rem;
  height: 50vh;
  width: 100vh;
  overflow-y: auto !important;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.code-style-container::-webkit-scrollbar {
  display: none;
}

#code-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}

#depedencies-disclaimer {
  font-size: 1rem;
}
#editor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button {
  font-family: "Roboto Mono", "monospace";
  text-align: center;
  background-color: white;
  font-weight: bold;
  transition-duration: 0.5s;
  color: rgb(29, 27, 48);
  margin-bottom: 0.5rem;
  border: 2px;
  margin-left: 0.5rem;
}

#button-compile {
  padding: 1.5rem;
  font-size: 2rem;
  margin: 2rem;
  border-radius: 1rem;
}

.button:hover {
  background: transparent;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  color: white;
}

.button:active {
  transform: scale(0.5);
  background-color: white;
  color: rgb(29, 27, 48);
}

body {
  background-image: url(https://wallpaper.dog/large/20484925.jpg);
}
